body{
    overflow-x: hidden;
    background-color: #F3FAE0;
    background-size: cover;
  }

  .home-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
    height: 100vh;
    justify-content: center;
  }
  

  header{
    display: flex;
    width: 93%;
    height: 90px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-items: center;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #C6DF82;
    z-index: 100;
  }

  header .logo-header{
    margin-left: 40px;
    margin-right: 40px;
  }

  .topicos-header{
    display: flex;
    position: absolute;
    right: 0;
  }

  .link-header {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
    font-weight: bolder;
    color: inherit; 
}

.link-header:hover {
  transform: scale(1.02); 
  color: #B96034;
}


  h1.pagina-atual{
    color: #B96034;
    font-size: 15px;
    font-weight: bolder;
  }
  

  .sobre{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 2px;
    font-size: 15px;
    padding-bottom: 2px;
    background-color: #B96034;
    color: #fff;
    border-radius: 20px;
    font-weight: bolder;
  }

  .link-header, .sobre, .button {
    text-decoration: none; /* Retira o sublinhado dos links */
}

  .sobre:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 7px #b4b2b2, 
    -1px -1px  7px #b4b2b2; 
    cursor: pointer; 

  }

  .home-mão-com-planta{
    display: flex;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    position: absolute;
    right: 0;
    background-size: cover;
  }

  .home-mão-com-planta .movimento{
    animation: bounceInDown;
    animation-duration: 3s;  
  }

  .home-mão-com-planta .carinha{
    position: relative;
    right: -220px;
    top: 220px;
  }

  .home-mão-com-planta .brilhos{
    position: relative;
    right: 100px;
    top: 50px;
  }

  .home-mão-com-planta .rabisco{
    position: relative;
    right: 250px;
    top: 40px;
  }

  .home-mão-com-planta .espiral{
    position: relative;
    right: -160px;
    bottom: 60px;
  }

  .home-mão-com-planta .ondulados{
    position: relative;
    right: 200px;
    bottom: 300px;
  }

  .home-mão-com-planta .explosão{
    position: relative;
    right: 30px;
    top: 10px;
  }

  .home-mão-com-planta .mão-segurando-planta{
    position: relative;
    bottom: 1100px;
    right: -50px;
  }

  .texto-home{
    display: flex;
    width: 60%;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 300px;
    background-size: cover;
    margin: 70px;
  }
  

  .texto-home p{
    font-size: 50px;
    font-weight: bolder;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;  
    left: 0;
    animation: bounceInUp;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
  
  }


  @import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');
  .chau-philomene-one-regular {
    font-family: "Chau Philomene One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .texto-home h1{
    font-size: 90px;
    font-weight: bolder;
    font-family: "Chau Philomene One", sans-serif;
    color: #B96034;
    animation: bounceInDown;
    animation-duration: 3s;  
    animation-timing-function: ease-in-out;

  }

  .mundo{
    position: absolute;
    bottom: 120px;
  }


  .melhor{
    position: absolute;
    bottom: 110px;
    left: 300px;
  }


  .nasce{
    position: absolute;
    bottom: 50px;
  }

  
  .consciência{
    position: absolute;
    top: -50px;
    left: 20px;
  }

  .filete-de-tinta{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-items: center;
      position: absolute; 
      z-index: -2;
      bottom: 110px; 
      left: -40px;
      animation: slideInLeft;
      animation-duration: 3s;  
      animation-timing-function: ease-in-out;  
  }

  .linha-de-lápis{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    position: absolute; 
    top: 55px; 
    left: 30px;
    animation: slideInLeft;
    animation-duration: 3s;  
    animation-timing-function: ease-in-out;  
}

h2{
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-items: center;
  position: absolute; 
  top: 400px; 
  left: 0;
  margin: 70px;
  font-size: 17px;
}

.propostas{
  display: flex;
  width: 40%;
  height: 500px;
  flex-direction: column;
  align-items: left;
  text-align: justify;
  justify-items: left;
  position: absolute; 
  left: 80px;
  top: 570px;
}

h3{
  font-size: 30px;
  font-weight: bolder;
  font-family: "Chau Philomene One", sans-serif;
  color: #B96034;
  animation: bounceInDown;
  animation-duration: 5s;  
  animation-timing-function: ease-in-out;
}

.propostas .oferecimento h4{
  font-size: 16px;
  position: relative;
}

.propostas .oferecimento img{
  position: relative;
  top: 10px;
}

.propostas .oferecimento {
  position: relative;
  left: -10px;
}

/*PARTE DO SOBRE NÓS*/

.sobre-nós{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: absolute;
  bottom: -600px;
  width: 45%;
  height: 400px;
  box-shadow: 1px 1px 7px #948f8f, 
  -1px -1px  7px #948f8f;
}


.parte-marrom{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute; 
  border-radius: 15px;
  border: 1px solid #2B1B0A;
  background-color: #B96034;
  padding: 5%;

}

.ecoa{
  font-size: 25px;
  font-weight: bolder;
  position: absolute;
  top: -70px;
  left: -100px;
  z-index: 5;
}

.bolinhas{
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 5;
  margin: 8px;
}


.parte-verde{
  display: flex;
  width: 95%;
  height: 90%;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-items: center;
  position: absolute; 
  top: 30px;
  border-radius: 15px;
  border: 1px solid #2B1B0A;
  background-color: #F3FAE0;
  padding: 7%;
  font-size: 20px;
}

.espiral2{
  width: 300px;
  position: absolute;
  top: 800px;
  left: 220px;
  z-index: -5;
}

.trevo{
  width: 120px;
  position: absolute;
  bottom: -350px;
  right: 230px;
  z-index: -5;

}

.impacto{
  width: 250px;
  position: absolute;
  bottom: -570px;
  right: 200px;
  z-index: -5;
}

.rabisco-arredondado{
  width: 180px;
  position: absolute;
  bottom: -730px;
  right: 360px;
  z-index: -5;
}

.rabisco2{
  width: 120px;
  position: absolute;
  bottom: -730px;
  right: 600px;
  z-index: -5;
}

.dedos-tocando-planta{
  width: 750px;
  position: absolute;
  bottom: -800px;
  left: 0;
  z-index: -5;
}

.aprenda{
  position: relative;
  top: 100px;
}

.marrom{
  font-size: 30px;
  color: #B96034;
  font-weight: bolder;
}

.marrom.segundo{
  position: relative;
  left: 330px;
  bottom: 80px;
}


.preto{
  font-size: 30px;
  color: #000;
  font-weight: bolder;
  position: relative;
  left: 115px;
  bottom: 40px;
}

.preto.dois{
  font-size: 30px;
  color: #000;
  font-weight: bolder;
  position: relative;
  left: 0;
  bottom: 90px;
}

.descubra{
  display: flex;
  width: 35%;
  height: 300px;
  margin: 100px;
  flex-direction: column;
  text-align: justify;
  position: absolute;
  left: 0;
  top: 1450px;
}

.círculo-duplo{
  width: 600px;
  position: absolute;
  bottom: -1450px;
  right: -50px;
  z-index: -5;
}

.mão-segurando-trigo{
  width: 700px;
  position: absolute;
  bottom: -1450px;
  right: 0;
  z-index: -5;
}


form footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  background-color: #B96034;
  color: #fff;
  text-align: justify;
  position: absolute;
  bottom: -1800px;
  padding-left: 200px;
  padding-right: 200px;
}

footer .logo-rodapé{
  width: 40px;
}

footer p{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 50%;
  position: relative;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;

}

.direita{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 50%;
  position:relative;
  left: 0;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 250px;
}

.direita .logo{
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button{
  color: #fff;
  font-weight: bold;
  background-color: #99D1E6;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 2px;
  padding-right: 10px;
  border-radius: 20px;
  animation-timing-function: ease-in-out;
}

.button:hover{
  transform: scale(1.02);
  box-shadow: 1px 1px 7px #b4b2b2, 
  -1px -1px  7px #b4b2b2;
}

.qrcode{
  width: 200px;
  position: relative;
  top: 20px;
  right: -130px;
}





































  